In [138]:
#writing csv file
import pandas as pd
dis={'a':[1,2,3,4,5,6],
's':[1,2,3,4,5,6],
'd':[1,2,3,4,5,6]
}
    
d=pd.DataFrame(dis,index=['a','b','c','d','e','f'])
print(d)
d.to_csv("test.csv",header=[1,2,3])
#read csv
csv_1=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv")
print(csv_1)
csv_2=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",nrows=5)
print(csv_2)
print(type(csv_2))
csv_3=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",usecols=["House_ID","Location"])
print(csv_3)
csv_4=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",skiprows=[0,1,2,4,5,])
print(csv_4)
csv_5=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",index_col="Location")

print(csv_5)
csv_5=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",header=2)

print(csv_5)
csv_6=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",names=['col1','col2','col3','col4','col5'])

print(csv_6)
csv_7=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv",dtype={"Price_in_USD":"float"})

print(csv_7)
csv_8=pd.read_csv("C:\\Users\\ishig\\anaconda_projects\\housing_prices.csv" , usecols["Year_Built"])
print(csv_8)

   a  s  d
a  1  1  1
b  2  2  2
c  3  3  3
d  4  4  4
e  5  5  5
f  6  6  6
    House_ID Location  Size_in_sq_ft  Price_in_USD  Year_Built
0          1    Rural           2827        494070        1974
1          2    Urban           3495        452228        1967
2          3    Rural           2295        531839        2015
3          4    Rural           1962        369536        2003
4          5    Urban           2322        417824        1984
..       ...      ...            ...           ...         ...
95        96    Urban           2960        601157        1974
96        97    Urban            801        284423        2007
97        98    Rural           1441        616349        2012
98        99    Urban           3067        803714        2011
99       100    Urban           2389        757917        1971

[100 rows x 5 columns]
   House_ID Location  Size_in_sq_ft  Price_in_USD  Year_Built
0         1    Rural           2827        494070        1974
1         2    Urban           3495        452228        1967
2         3    Rural           2295        531839        2015
3         4    Rural           1962        369536        2003
4         5    Urban           2322        417824        1984
<class 'pandas.core.frame.DataFrame'>
    House_ID Location
0          1    Rural
1          2    Urban
2          3    Rural
3          4    Rural
4          5    Urban
..       ...      ...
95        96    Urban
96        97    Urban
97        98    Rural
98        99    Urban
99       100    Urban

[100 rows x 2 columns]
      3     Rural  2295  531839  2015
0     6     Urban  3440  357426  2010
1     7     Rural  1191  277789  1990
2     8  Suburban  2498  613153  1982
3     9     Rural  1218  842452  2017
4    10     Rural  3136  937291  1982
..  ...       ...   ...     ...   ...
90   96     Urban  2960  601157  1974
91   97     Urban   801  284423  2007
92   98     Rural  1441  616349  2012
93   99     Urban  3067  803714  2011
94  100     Urban  2389  757917  1971

[95 rows x 5 columns]
          House_ID  Size_in_sq_ft  Price_in_USD  Year_Built
Location
Rural            1           2827        494070        1974
Urban            2           3495        452228        1967
Rural            3           2295        531839        2015
Rural            4           1962        369536        2003
Urban            5           2322        417824        1984
...            ...            ...           ...         ...
Urban           96           2960        601157        1974
Urban           97            801        284423        2007
Rural           98           1441        616349        2012
Urban           99           3067        803714        2011
Urban          100           2389        757917        1971

[100 rows x 4 columns]
      2  Urban  3495  452228  1967
0     3  Rural  2295  531839  2015
1     4  Rural  1962  369536  2003
2     5  Urban  2322  417824  1984
3     6  Urban  3440  357426  2010
4     7  Rural  1191  277789  1990
..  ...    ...   ...     ...   ...
93   96  Urban  2960  601157  1974
94   97  Urban   801  284423  2007
95   98  Rural  1441  616349  2012
96   99  Urban  3067  803714  2011
97  100  Urban  2389  757917  1971

[98 rows x 5 columns]
         col1      col2           col3          col4        col5
0    House_ID  Location  Size_in_sq_ft  Price_in_USD  Year_Built
1           1     Rural           2827        494070        1974
2           2     Urban           3495        452228        1967
3           3     Rural           2295        531839        2015
4           4     Rural           1962        369536        2003
..        ...       ...            ...           ...         ...
96         96     Urban           2960        601157        1974
97         97     Urban            801        284423        2007
98         98     Rural           1441        616349        2012
99         99     Urban           3067        803714        2011
100       100     Urban           2389        757917        1971

[101 rows x 5 columns]
    House_ID Location  Size_in_sq_ft  Price_in_USD  Year_Built
0          1    Rural           2827      494070.0        1974
1          2    Urban           3495      452228.0        1967
2          3    Rural           2295      531839.0        2015
3          4    Rural           1962      369536.0        2003
4          5    Urban           2322      417824.0        1984
..       ...      ...            ...           ...         ...
95        96    Urban           2960      601157.0        1974
96        97    Urban            801      284423.0        2007
97        98    Rural           1441      616349.0        2012
98        99    Urban           3067      803714.0        2011
99       100    Urban           2389      757917.0        1971

[100 rows x 5 columns]

NameError: name 'usecols' is not defined

In [5]:

import pandas as pd
df = pd.read_csv('C:\\Users\\ishig\\anaconda_projects\\Housing.csv')
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import LeaveOneOut
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, f1_score, roc_auc_score, confusion_matrix, roc_curve
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

# Load your dataset (assuming you have a dataset like Titanic, or similar)
# Example: df = pd.read_csv('path_to_your_dataset.csv')

# Load dataset
df = pd.read_csv('C:\\Users\\ishig\\anaconda_projects\\train.csv')

# Split your dataset into features and target
x = df.drop('Survived', axis=1)  # Features
y = df['Survived']  # Target

# Preprocessing: Handle missing values if necessary (e.g., fill missing values)
# Make sure you're only filling missing values in numeric columns
x = x.select_dtypes(include=['float64', 'int64']).fillna(x.mean())  # Fill only numeric columns

# Optional: Convert categorical variables to numerical (if any)
x = pd.get_dummies(x, drop_first=True)  # This converts categorical variables

# Scaling features (important for SVM)
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

# Use a smaller subset for debugging (e.g., first 100 rows)
x_small = x_scaled[:100]  # First 100 rows of x_scaled
y_small = y[:100]  # First 100 rows of y

# Initialize LeaveOneOut
print(df)

TypeError: unsupported operand type(s) for +: 'int' and 'str'